@import url('https://fonts.googleapis.com/css2?family=Krub:ital@1&family=Megrim&display=swap');


/* Universal Styling */
* {
  box-sizing: border-box;
}

body {
  margin: 30px;
  font-family: 'Krub', sans-serif;
}

a {
  display: block;
  padding-top: 10px;
}

::placeholder {
  text-align: center;
}

.my-container {
  height: 80vh;
  text-align: center;
}


/* app heading */
.heading {
  height: 55px;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

/* Router link buttons */
.link {
  text-align: center;
  text-decoration: none;
  background-color: #55c1e6;
  color: #f9f9f9;
  font-size: 1.3rem;
  font-weight: 100;
  border-radius: 2rem;
  height: 60%;
  width: 100%;
  padding-top: 12px;
}

.studentLink {
  width: 30px;
  height: 30px;
  background-color: #55c1e6;
  border-radius: 5px;
}

.teacherLink {
  width: 30px;
  height: 30px;
  background-color: #f66e57;
  border-radius: 5px;
}

/* .label {
  font-size: 1.5rem;
} */

/* Login page */
.input {
  padding: 0 1rem;
  border-radius: 2rem;
  margin: 0.25rem;
  border: 1px rgb(231, 224, 224) solid;
  width: 100%;
  height: 55%;
  font-size: 1.2rem;
}

.link-row,
.input-row,
.submit-row {
  height: 100px;
  width: 350px;
}

.btnLogin {
  height: 55%;
  width: 100%;
  background-color: #55c1e6;
  color: #f9f9f9;
  font-size: 1.3rem;
  border-radius: 2rem;
}

.menu-row {
  height: 40px;
  width: 367px;
  border-top: 1px solid rgb(209, 204, 204);
}

.line-row {
  height: 150px;
  border-bottom: 1px solid black;
}

/* font awesome */
.fas {
  color: black;
}

.name {
  font-size: 1.3rem;
  margin: 2px;
}

.back {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 90px;
}

.searchBtn,
.chatBtn {
  /* background-color: #d52349; */
  background-color: black;
  color: #f9f9f9;
  font-size: 1rem;
  font-weight: 200;
  border: none;
  border-radius: 2rem;
  height: 45px;
  width: 100px;
  margin-top: 20px;
  text-decoration: none;
}

/* search page/ browse page styling */
.link-row-search {
  height: 100px;
  width: 350px;
  padding: 10px;
  font-size: 1.1rem;
}

.input-row-search {
  height: 60px;
  width: 350px;
}

.linkSearch {
  text-align: center;
  text-decoration: none;
  background-color: #55c1e6;
  color: #f9f9f9;
  font-size: 1.3rem;
  border-radius: 2rem;
  height: 65%;
  width: 100%;
  margin-top: 10px;
}

.inputSearch {
  background-color: #faf9f9;
  width: 100%;
  height: 90%;
  color: black;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: 1px rgb(231, 224, 224) solid;
  padding: 0 20px;
}

/* student info page */
.studentCard {
  width: 200px;
  height: 400px;
}

.student-row {
  width: 250px;
  height: 200px;
}

.card,
.card-header {
  max-width: 350px;
  height: auto;
}

.listWidth {
  max-width: 500px;
}

.chatLink {
  min-width: 350px;
}

.chatContainer,
.cardContainer {
  height: 100vh;
  max-width: 400px;
  border: none;
  margin-top: 40px;
}

.chatInput {
  border-radius: 2rem;
  margin: 0.25rem;
  border: 1px rgb(231, 224, 224) solid;
  font-size: 1.4rem;
  max-width: 220px;
  padding: 0 10px;
}

.fixed {
  position: fixed;
  bottom: 0;
  z-index: 3000;
  height: 50px;
}

.arrowWidth {
  width: 350px;
  position: relative;
  z-index: 3;
}

.arrowP {
  font-size: 1.2rem;
}

.message-holder {
  position: absolute;
  overflow-y: scroll;
  max-height: 100vh;
}

.messagesBody {
  overflow-y: sc;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
  height: 80vh;
}

.chatScreen {
  overflow-y: scroll;
  max-height: 600px;
  max-width: 375px;
  border: 1px rgb(233, 228, 228) solid;
}

.gray {
  background-color: gray;
}

/* .form-width {
  max-width: 375px;
  margin: 0 auto;
} */

.img {
  max-width: 100%;
  height: auto;
}

.teacherImg {
  max-width: 100%;
  height: 250px;
}

.h4 {
  font-size: 2rem;
}

/* App logo */
.logo {
  font-size: 5rem;
  max-width: 100%;
  font-family: 'Megrim', sans-serif;
  height: 250px;
  font-weight: bold;
  margin-top: 100px;
}

.logo-img {
  height: 60%;
  width: 100%;
}

.list {
  border: rgb(124, 121, 121) solid 2px;
}

.back-chat {
  text-align: left;
  margin-top: 10px;
}

.noUser {
  padding: 0 40px;
}

.sender {
  width: 500px;
}

/* chat area */
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #b3a9a9;
  display: flex;
}

.chat li.left .chat-body {
  margin-left: 20px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777;
}

.chat .glyphicon,
.panel .slidedown .glyphicon {
  margin-right: 5px;
}

.panel-body {
  overflow-y: scroll;
  height: 250px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.blue {
  height: 50px;
  width: 50px;
  background: #55c1e6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

.fa-chevron-left {
  padding: 20px 0;
}

.orange {
  height: 50px;
  width: 50px;
  background: #f66e57;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 500px) {
  .link {
    height: 55px;
    margin: 10px 0;
  }
}
