/* Universal Styling */
body {
  margin: 30px;
}

a {
  display: block;
  padding-top: 10px;
}

::placeholder {
  text-align: center;
}

.my-container {
  height: 100vh;
  text-align: center;
}

/* App logo */
.logo {
  font-size: 3rem;
  height: 190px;
}

/* app heading */
.heading {
  height: 55px;
  font-size: 1.4rem;
}

/* Router link buttons */
.link {
  text-align: center;
  text-decoration: none;
  background-color: #d52349;
  color: white;
  font-size: 1.4rem;
  border-radius: 2rem;
  height: 60%;
  width: 100%;
}

.studentLink {
  width: 10px;
}

.label {
  font-size: 1.5rem;
}

.input {
  padding: 0 1rem;
  border-radius: 2rem;
  margin: 0.25rem;
  border: 1px rgb(231, 224, 224) solid;
  width: 100%;
  height: 60%;
  font-size: 1.4rem;
}

.link-row,
.input-row,
.submit-row {
  height: 100px;
  width: 350px;
}

/* submit button */
.btn {
  height: 60%;
  width: 100%;
  background-color: #d52349;
  color: white;
  font-size: 1.4rem;
  border-radius: 2rem;
}

.menu-row {
  height: 40px;
  width: 367px;
  border-top: 1px solid rgb(209, 204, 204);
}

.line-row {
  height: 150px;
  border-bottom: 1px solid black;
}

/* font awesome */
.fas {
  color: #d52349;
}

.name {
  font-size: 1.3rem;
  margin: 2px;
}

.back {
  text-align: left;
}

.searchBtn,
.chatBtn {
  background-color: #d52349;
  color: white;
  font-size: 1rem;
  border-radius: 2rem;
  height: 45px;
  width: 100px;
  margin-top: 10px;
  text-decoration: none;
}

/* search page/ browse page styling */
.link-row-search {
  height: 100px;
  width: 350px;
  padding: 10px;
  font-size: 1.1rem;
}

.input-row-search {
  height: 60px;
  width: 350px;
}

.linkSearch {
  text-align: center;
  text-decoration: none;
  background-color: #d52349;
  color: white;
  font-size: 1.4rem;
  border-radius: 2rem;
  height: 65%;
  width: 100%;
}

.inputSearch {
  background-color: #faf9f9;
  width: 100%;
  height: 90%;
  color: black;
  font-size: 1.4rem;
  border-radius: 2rem;
  border: 1px rgb(231, 224, 224) solid;
}

/* student info page */
.studentCard {
  width: 200px;
  height: 400px;
}

.student-row {
  width: 250px;
  height: 200px;
}

.card {
  max-width: 350px;
  max-height: 400px;
}

.listWidth {
  max-width: 500px;
  width: 350px;
}

.chatLink {
  min-width: 350px;
}

.chatContainer,
.cardContainer {
  height: 100vh;
  max-width: 400px;
  border: none;
}

.green {
  color: green;
}

.chatInput {
  padding: 0 1rem;
  border-radius: 2rem;
  margin: 0.25rem;
  border: 1px rgb(231, 224, 224) solid;
  width: 80%;
  height: 80%;
  font-size: 1.4rem;
}

.fixed {
  position: fixed;
  bottom: 0;
  z-index: 3000;
  background-color: gray;
  height: 50px;
  width: 375px;
}

.arrowWidth {
  width: 350px;
  position: relative;
  z-index: 3;
}

.message-holder {
  position: absolute;
  overflow-y: scroll;
  max-height: 100vh;
}

.img {
  height: 300px;
}
